
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #272727;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #272727;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2727275c;
    margin-bottom: 2em;
}

#logo {
    display: flex;
    align-items: center;
    gap: 25px;
}

#logo img {
    height: 25px;
    width: auto;
    transition: all 0.25s ease-in-out;
}

#logo img:hover {
    transform: scale(1.15);
    margin-right: 5px;
}

#logo a {
    font-size: 1.5em;
}

nav {
    display: none;
}

nav ul {
    display: flex;
    font-size: 1.5em;
    list-style: none;
    gap: 20px;
}

#burger {
    cursor: pointer;
}

.section-title {
    width: fit-content;
    font-size: 2em;
    border-bottom: 1px solid #2727275c;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.countdown-numbers {
    font-size: 3em;
    font-weight: bold;
}

.countdown-numbers span::after {
    content: " :";
}

.countdown-numbers span:last-child::after {
    content: "";
}

#movies {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.movie-card {
    display: flex;
    flex-direction: row;
}

.movie-card img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
    transition: transform 0.25s ease-in-out;
}

.movie-card img:hover {
    transform: scale(1.05);
}

footer {
    display: flex;
    flex-direction: column;
}

#copyright {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #272727;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}